:root {

}

.v-flex {
  display: flex;
  flex-direction: column;
}

.h-flex {
  display: flex;
  flex-direction: row;
}

.main-container {
  justify-content: center;
  align-items: center;
}

.main-container > * {
  padding: 20px 0px;
}

button {
  margin: 20px;
}
